/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

//@layer base {
//  @font-face {
//    font-family: 'Stolzl';
//    font-weight: 350;
//    src: url(/fonts/stolzl/stolzl-book.woff2) format('woff2');
//  }
//  @font-face {
//    font-family: 'Stolzl';
//    font-weight: 400;
//    src: url(/fonts/stolzl/stolzl-regular.woff2) format('woff2');
//  }
//  @font-face {
//    font-family: 'Stolzl';
//    font-weight: 500;
//    src: url(/fonts/stolzl/stolzl-medium.woff2) format('woff2');
//  }
//  @font-face {
//    font-family: 'Stolzl';
//    font-weight: 700;
//    src: url(/fonts/stolzl/stolzl-bold.woff2) format('woff2');
//  }
//}

@layer utilities {
  img {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  body {
    font-family: 'Gopher', Arial, sans-serif;
    color: #414042;
  }

  p {
    font-family: 'Roboto', Arial, sans-serif;
    color: #414042;
    line-height: 1.6;
  }

  li {
    list-style-type: none;
  }

  //a {
  //  min-height: 48px;
  //  min-width: 48px;
  //}
  .overflow-auto {
    overflow: auto;
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  .dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .text-2xs {
    font-size: 0.7rem;
  }

  .svg-white {
    path {
      stroke: #ffffff;
    }
  }

  .svg-close-position {
    transform: translate(1px, 1px);
  }

  .svg-black {
    path {
      fill: #000000;
    }
  }

  .svg-blue {
    path {
      fill: #4348e3;
    }
  }

  .svg-blue-dark {
    path {
      fill: #2c148e;
    }
  }

  .svg-purple {
    path {
      fill: #c297ef;
    }
  }

  .svg-orange {
    path {
      fill: #ff8657;
    }
  }

  .svg-lime-stroke {
    path {
      stroke: #d9ff6c;
    }
  }

  .svg-lime-fill {
    path {
      fill: #d9ff6c;
    }
  }

  .svg-gray {
    path {
      fill: #828282;
    }
  }

  .svg-gray-lightest {
    path {
      fill: #f1f2f2;
    }
  }

  .svg-gray-dark {
    path {
      fill: #414042;
    }
  }

  .slide-width {
    width: 100%;

    @media (min-width: 768px) {
      width: 54%;
      right: calc(50% - (54% / 2));
    }
  }

  .image-width {
    @media (min-width: 768px) {
      width: 60%;
    }
  }

  .w-11\/10 {
    width: 110%;
  }

  .w-68 {
    width: 17rem;
  }

  .w-88 {
    width: 22rem;
  }

  .w-188 {
    width: 47rem;
  }

  .leading-0 {
    line-height: 0;
  }

  .leading-30 {
    line-height: 7.5rem;
  }

  .-z-10 {
    z-index: -10;
  }

  .px-1\/10 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .px-1\/8 {
    padding-left: calc(100% / 8);
    padding-right: calc(100% / 8);
  }

  .pl-1\/8 {
    padding-left: 12.5%;
  }

  .mask-nav {
    height: 100%;
    max-height: 100%;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  .mask-background-nav {
    width: 18rem;

    @media (min-width: 470px) {
      width: 22rem;
    }

    @media (min-width: 1024px) {
      width: 21rem;
    }
  }

  .right-1\/20 {
    right: 5%;
  }

  .right-1\/9 {
    right: calc(100% / 9);
  }

  .top-1\/20 {
    top: 5%;
  }

  .top-1\/10 {
    top: 10%;
  }

  .top-9\/10 {
    top: 90%;
  }

  .left-6 {
    left: 1.5rem;
  }

  .left-16 {
    left: 4rem;
  }

  .left-1\/6 {
    left: calc(100% / 6);
  }

  .right-1\/6 {
    right: calc(100% / 6);
  }

  .bottom-5\/6 {
    bottom: calc(100% * 5 / 6);
  }

  .bottom-7\/12 {
    bottom: calc(100% * 7 / 12);
  }

  .bottom-8\/12 {
    bottom: calc(100% * 8 / 12);
  }

  .mt-full {
    margin-top: 100vh;
  }

  .min-h-80 {
    min-height: 20rem;
  }

  .min-h-96 {
    min-height: 24rem;
  }

  .h-122 {
    height: 28rem;
  }

  .h-144 {
    height: 36rem;
  }

  .max-h-4\/5 {
    max-height: 80%;
  }

  .max-h-112 {
    max-height: 28rem;
  }

  .max-h-144 {
    max-height: 36rem;
  }

  .max-h-70vh {
    max-height: 70vh;
  }

  .max-h-75vh {
    max-height: 75vh;
  }

  .max-h-hero {
    max-height: 60vh;
  }

  .min-w-3 {
    min-width: 0.75rem;
  }

  .min-w-64 {
    min-width: 16rem;
  }

  .min-w-200 {
    min-width: 50rem;
  }

  .min-w-footer {
    min-width: 1440px;
  }

  .max-w-2\/3 {
    max-width: calc(100% * 2 / 3);
  }

  .max-w-2xs {
    max-width: 12rem;
  }

  .border-transparent {
    border: 1px solid transparent;
  }

  .border-r-transparent {
    border-right: 0px solid transparent;
  }

  .border-l-transparent {
    border-left: 0px solid transparent;
  }

  .border-r-blue {
    border-right: 1px solid #4348e3;
  }

  .image-container {
    width: 100%;

    > div {
      position: unset !important;
    }

    .image {
      object-fit: cover;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .breadcrumb-border::after {
    content: '';
    position: absolute;
    height: 0.3rem;
    left: 0;
    right: 0;
    bottom: -0.2rem;
    background-color: #dfff85;
  }

  .translate-warning {
    transform: translate(-50%, calc(-100% * 5 / 12));
  }

  .-translate-x-1\/20 {
    transform: translateX(-5%);
  }

  .translate-y-11\/10 {
    --tw-translate-y: 110%;
  }

  .circle-position {
    width: 6rem;
    right: calc((100% / 6));
    top: 0;
    transform: translate(0, -50%);

    @media (min-width: 475px) {
      width: 9rem;
    }

    //@media (min-width: 640px) {
    //  width: 9rem;
    //  //display: block;
    //}

    @media (min-width: 768px) {
      width: 8rem;
      right: calc(23% + 10.8%);
      transform: translate(calc(100% / 3), calc(-100% / 3));
    }

    @media (min-width: 1280px) {
      width: 10rem;
      //right: calc((100% / 6) + 6rem);
    }

    //@media (min-width: 1536px) {
    //  width: 11rem;
    //  right: calc((100% / 6) + 8rem);
    //}
  }

  .modal-initial-position {
    transform: translateY(10rem);
    opacity: 0;
  }

  .contact-swirl-position {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      width: 9rem;
      top: 37.5%;
      left: calc(50% + 3rem);
    }

    @media (min-width: 1280px) {
      top: 30%;
      width: 11rem;
    }

    @media (min-width: 1536px) {
      left: calc(50% + 3.5rem);
      width: 12rem;
    }
  }

  .form-divider::after {
    content: '';
    position: absolute;
    top: 0.25rem;
    bottom: 0.25rem;
    left: 0;
    width: 1px;
    background-color: white;
  }

  .line-clamp {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .text-stroke-blue-thin {
    -webkit-text-stroke: 1px #2c148e;
  }

  .text-stroke-blue {
    -webkit-text-stroke: 2px #2c148e;
  }

  .line-clamp-p {
    -webkit-line-clamp: 3;
  }

  .shadow-blue-dark {
    box-shadow: 0.2rem 0.2rem #2c148e;
  }

  .shadow-blue-dark-lg {
    box-shadow: 0.3rem 0.3rem #2c148e;
  }

  .shadow-lime {
    box-shadow: 0.2rem 0.2rem #dfff85;
  }

  .shadow-white {
    box-shadow: 0.2rem 0.2rem #ffffff;
  }

  .title-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // Large
    @media (min-width: 1024px) {
      transform: translate(0, 0);
      top: -1.5rem;
      left: -1.5rem;
      right: 0;
    }

    // Xl
    //@media (min-width: 1280px) {
    //}

    // 2xl
    //@media (min-width: 1536px) {
    //}
  }

  .grid-row-1 {
    grid-row: 1;
  }

  .grid-col-1 {
    grid-column: 1;
  }

  .grid-col-2 {
    grid-column: 2;
  }

  .grid-col-3 {
    grid-column: 3;
  }

  .team-members-bg {
    background: linear-gradient(
      to top,
      #dfff85 calc(100% * 8 / 12 + 1rem),
      white calc(100% * 4 / 12 + 1rem)
    );
  }

  .translate-y-10\/12 {
    transform: translateY(calc(100% * 10 / 12));
  }

  .section-margin-top {
    margin-top: 4rem;

    @media (min-width: 1024px) {
      margin-top: 6rem;
    }

    // Xl
    @media (min-width: 1280px) {
      margin-top: 7rem;
    }

    // 2xl
    @media (min-width: 1536px) {
      margin-top: 9rem;
    }
  }

  .section-margin-bottom {
    margin-bottom: 4rem;

    @media (min-width: 1024px) {
      margin-bottom: 6rem;
    }

    // Xl
    @media (min-width: 1280px) {
      margin-bottom: 7rem;
    }

    // 2xl
    @media (min-width: 1536px) {
      margin-bottom: 9rem;
    }
  }

  .features-slideshow-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media (min-width: 475px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    @media (min-width: 768px) {
      padding-bottom: 0rem;
    }

    // Xl
    @media (min-width: 1280px) {
      padding-top: 7rem;
    }

    // 2xl
    @media (min-width: 1536px) {
      padding-top: 9rem;
    }
  }

  .section-margin {
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media (min-width: 1024px) {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }

    // Xl
    @media (min-width: 1280px) {
      margin-top: 7rem;
      margin-bottom: 7rem;
    }

    // 2xl
    @media (min-width: 1536px) {
      margin-top: 9rem;
      margin-bottom: 9rem;
    }
  }

  .contact-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;

    // Xl
    @media (min-width: 1280px) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    // 2xl
    @media (min-width: 1536px) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

  .swirl-size {
    width: 47rem;
    right: -10rem;

    // Xl
    @media (min-width: 1280px) {
      width: 47rem;
      right: -10rem;
    }

    //// Xl
    //@media (min-width: 1280px) and (min-height: 1000px) {
    //  width: 57rem;
    //  right: -12rem;
    //}

    // 2xl
    @media (min-width: 1536px) {
      width: 57rem;
      right: -12rem;
    }
  }

  .marquee-size {
    width: 12rem;

    // L
    @media (min-width: 1024px) {
      width: 11.1rem;
    }

    // Xl
    //@media (min-width: 1280px) {
    //  width: 11.1rem;
    //}

    // 2xl
    @media (min-width: 1536px) {
      width: 16.2rem;
    }
  }

  .title-size {
    font-size: 3rem;
    line-height: 0.9;
    white-space: nowrap;

    // Sm
    @media (min-width: 640px) {
      font-size: 5rem;
      line-height: 0.9;
    }

    // L
    @media (min-width: 1024px) {
      font-size: 9rem;
      line-height: 0.85;
    }

    // Xl
    @media (min-width: 1280px) {
      font-size: 9rem;
    }

    // 2xl
    @media (min-width: 1536px) {
      font-size: 11rem;
    }
  }

  //.feature-hover:hover div div  {
  //  color: #2c148e;
  //}
  .hero-modal-center {
    position: fixed;
    z-index: 50;
    left: 0;
    right: 0;
    bottom: 0;

    @media (min-width: 640px) {
      left: 50%;
      top: 50%;
      right: auto;
      bottom: auto;
      transform: translate(-50%, -50%);
    }
  }

  .hero-modal-position {
    position: fixed;
    z-index: 50;
    left: 0;
    right: 0;
    bottom: 0;

    @media (min-width: 640px) {
      left: auto;
      right: 1.5rem;
      bottom: 4rem;
    }

    @media (min-width: 1024px) {
      right: 3rem;
    }

    @media (min-width: 1280px) {
      right: 4rem;
    }

    @media (min-width: 1536px) {
      right: 4rem;
    }
  }

  .item-slide-button-position {
    display: flex;
    justify-content: space-between;

    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
    right: 0;
  }

  .slideshow-button-position {
    display: flex;
    justify-content: center;

    position: absolute;
    transform: translate(0, 50%);
    top: 100%;
    left: 0;
    right: 0;

    @media (min-width: 768px) {
      transform: translate(0, -50%);
      left: 12.2%;
      right: 12.2%;
      top: 50%;

      justify-content: flex-end;
    }
  }

  @variants responsive {
    .vert-space-s {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .body-gutter-sm {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .body-gutter-lg {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .body-gutter-xl {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .body-gutter-2xl {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .ml-1\/2 {
      margin-left: 50%;
    }

    //.section-padding {
    //
    //  padding-top: 6rem;
    //  padding-bottom: 6rem;
    //
    //  // Xl
    //  @media (min-width: 1280px) {
    //    padding-top: 7rem;
    //    padding-bottom: 7rem;
    //  }
    //
    //  // 2xl
    //  @media (min-width: 1536px) {
    //    padding-top: 8rem;
    //    padding-bottom: 8rem;
    //  }
    //}
  }
}

/* purgecss start ignore */
html {
  @apply antialiased;
}
