/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

//@layer base {
//  @font-face {
//    font-family: 'Stolzl';
//    font-weight: 350;
//    src: url(/fonts/stolzl/stolzl-book.woff2) format('woff2');
//  }
//  @font-face {
//    font-family: 'Stolzl';
//    font-weight: 400;
//    src: url(/fonts/stolzl/stolzl-regular.woff2) format('woff2');
//  }
//  @font-face {
//    font-family: 'Stolzl';
//    font-weight: 500;
//    src: url(/fonts/stolzl/stolzl-medium.woff2) format('woff2');
//  }
//  @font-face {
//    font-family: 'Stolzl';
//    font-weight: 700;
//    src: url(/fonts/stolzl/stolzl-bold.woff2) format('woff2');
//  }
//}

@layer utilities {
  img {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  body {
    font-family: 'Gopher', Arial, sans-serif;
    color: #414042;
  }

  p {
    font-family: 'Roboto', Arial, sans-serif;
    color: #414042;
    line-height: 1.6;
  }

  li {
    list-style-type: none;
  }

  .overflow-auto {
    overflow: auto;
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .text-2xs {
    font-size: 0.7rem;
  }

  .svg-white {
    path {
      stroke: #ffffff;
    }
  }

  .svg-close-position {
    transform: translate(1px, 1px);
  }

  .svg-black {
    path {
      fill: #000000;
    }
  }

  .svg-blue {
    path {
      fill: #4348e3;
    }
  }

  .svg-blue-dark {
    path {
      fill: #2c148e;
    }
  }

  .svg-purple {
    path {
      fill: #c297ef;
    }
  }

  .svg-orange {
    path {
      fill: #ff8657;
    }
  }

  .svg-lime {
    path {
      stroke: #d9ff6c;
    }
  }

  .svg-gray {
    path {
      fill: #828282;
    }
  }

  .svg-gray-lightest {
    path {
      fill: #f1f2f2;
    }
  }

  .svg-gray-dark {
    path {
      fill: #414042;
    }
  }

  .w-11\/10 {
    width: 110%;
  }

  .w-68 {
    width: 17rem;
  }

  .w-88 {
    width: 22rem;
  }

  .w-188 {
    width: 47rem;
  }

  .leading-0 {
    line-height: 0;
  }

  .leading-30 {
    line-height: 7.5rem;
  }

  .-z-10 {
    z-index: -10;
  }

  .px-1\/10 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .px-1\/8 {
    padding-left: calc(100% / 8);
    padding-right: calc(100% / 8);
  }

  .pl-1\/8 {
    padding-left: 12.5%;
  }

  .mask-nav {
    //flex-grow: 1;
    height: 100%;
    max-height: 100%;

    //background-size: cover;
    background-size: 18rem;
    background-position: center;
    background-repeat: no-repeat;

    mask-size: contain;
    //mask-size: 16rem;
    mask-repeat: no-repeat;
    mask-position: center;

    @media (min-width: 640px) {
      background-size: 20rem;
      //background-size: cover;
    }
  }

  .right-1\/20 {
    right: 5%;
  }

  .right-1\/9 {
    right: calc(100% / 9);
  }

  .top-1\/20 {
    top: 5%;
  }

  .top-1\/10 {
    top: 10%;
  }

  .top-9\/10 {
    top: 90%;
  }

  .left-6 {
    left: 1.5rem;
  }

  .left-16 {
    left: 4rem;
  }

  .left-1\/6 {
    left: calc(100% / 6);
  }

  .right-1\/6 {
    right: calc(100% / 6);
  }

  .bottom-5\/6 {
    bottom: calc(100% * 5 / 6);
  }

  .min-h-80 {
    min-height: 20rem;
  }

  .min-h-96 {
    min-height: 24rem;
  }

  .h-122 {
    height: 28rem;
  }

  .h-144 {
    height: 36rem;
  }

  .max-h-112 {
    max-height: 28rem;
  }

  .max-h-144 {
    max-height: 36rem;
  }

  .max-h-70vh {
    max-height: 70vh;
  }

  .max-h-hero {
    max-height: 60vh;
  }

  .min-w-64 {
    min-width: 16rem;
  }

  .min-w-footer {
    min-width: 1440px;
  }

  .border-transparent {
    border: 1px solid transparent;
  }

  .border-r-transparent {
    border-right: 0px solid transparent;
  }

  .border-l-transparent {
    border-left: 0px solid transparent;
  }

  .border-r-blue {
    border-right: 1px solid #4348e3;
  }

  .image-container {
    width: 100%;

    > div {
      position: unset !important;
    }

    .image {
      object-fit: cover;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .breadcrumb-border::after {
    content: '';
    position: absolute;
    height: 0.3rem;
    left: 0;
    right: 0;
    bottom: -0.2rem;
    background-color: #dfff85;
  }

  .-translate-x-1\/20 {
    transform: translateX(-5%);
  }

  .circle-position {
    width: 6rem;
    right: calc((100% / 6) + 1.5rem);
    top: 0;
    transform: translate(calc(100% / 3), calc(-100% / 3));

    @media (min-width: 640px) {
      display: block;
    }

    @media (min-width: 768px) {
      width: 9rem;
      right: calc((100% / 6) + 2.5rem);
    }

    @media (min-width: 1280px) {
      width: 11rem;
      right: calc((100% / 6) + 6rem);
    }

    @media (min-width: 1536px) {
      width: 11rem;
      right: calc((100% / 6) + 8rem);
    }
  }

  .form-divider::after {
    content: '';
    position: absolute;
    top: 0.25rem;
    bottom: 0.25rem;
    left: 0;
    width: 1px;
    background-color: white;
  }

  .line-clamp {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .text-stroke-blue {
    -webkit-text-stroke: 2px #2c148e;

    //@media (min-width: 1280px) {
    //  -webkit-text-stroke: 2px #2c148e;
    //}
  }

  .line-clamp-p {
    -webkit-line-clamp: 4;
  }

  .shadow-blue-dark {
    box-shadow: 0.2rem 0.2rem #2c148e;
  }

  .shadow-lime {
    box-shadow: 0.2rem 0.2rem #dfff85;
  }

  .shadow-white {
    box-shadow: 0.2rem 0.2rem #ffffff;
  }

  @variants responsive {
    .vert-space-s {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .arrow-gutter-sm {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .body-gutter-sm {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .body-gutter-lg {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .body-gutter-xl {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    .body-gutter-2xl {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .ml-1\/2 {
      margin-left: 50%;
    }

    //.section-padding {
    //
    //  padding-top: 6rem;
    //  padding-bottom: 6rem;
    //
    //  // Xl
    //  @media (min-width: 1280px) {
    //    padding-top: 7rem;
    //    padding-bottom: 7rem;
    //  }
    //
    //  // 2xl
    //  @media (min-width: 1536px) {
    //    padding-top: 8rem;
    //    padding-bottom: 8rem;
    //  }
    //}
    .section-margin {
      margin-top: 6rem;
      margin-bottom: 6rem;

      // Xl
      @media (min-width: 1280px) {
        margin-top: 7rem;
        margin-bottom: 7rem;
      }

      // 2xl
      @media (min-width: 1536px) {
        margin-top: 9rem;
        margin-bottom: 9rem;
      }
    }

    .swirl-size {
      width: 47rem;
      right: -10rem;

      // Xl
      @media (min-width: 1280px) {
        width: 47rem;
        right: -10rem;
      }

      //// Xl
      //@media (min-width: 1280px) and (min-height: 1000px) {
      //  width: 57rem;
      //  right: -12rem;
      //}

      // 2xl
      @media (min-width: 1536px) {
        width: 57rem;
        right: -12rem;
      }
    }

    .marquee-size {
      width: 12rem;

      // L
      @media (min-width: 1024px) {
        width: 11.1rem;
      }

      // Xl
      //@media (min-width: 1280px) {
      //  width: 11.1rem;
      //}

      // 2xl
      @media (min-width: 1536px) {
        width: 16.2rem;
      }
    }

    .title-size {
      font-size: 3rem;
      line-height: 0.9;

      // Sm
      @media (min-width: 640px) {
        font-size: 5rem;
        line-height: 0.9;
      }

      // L
      @media (min-width: 1024px) {
        font-size: 9rem;
        line-height: 0.85;
      }

      // Xl
      @media (min-width: 1280px) {
        font-size: 9rem;
      }

      // 2xl
      @media (min-width: 1536px) {
        font-size: 13rem;
      }
    }

    .title-position {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // Large
      @media (min-width: 1024px) {
        transform: translate(0, 0);
        top: 2.75rem;
        left: 1.5rem;
        right: 0;
      }

      // Xl
      @media (min-width: 1280px) {
        left: 4rem;
      }

      // 2xl
      @media (min-width: 1536px) {
        left: 6rem;
      }
    }
  }
}

/* purgecss start ignore */
html {
  @apply antialiased;
}
